/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

img {
  width: 100%;
  height: auto;
}

/* DEMO 1 CSS */

/* Style the header */
.demo-1-header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.demo-1-grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.demo-1-left,
.demo-1-middle,
.demo-1-right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.demo-1-left {
  grid-area: left;
}

/* Style the middle column */
.demo-1-middle {
  grid-area: middle;
}

/* Style the right column */
.demo-1-right {
  grid-area: right;
}

/* Style the footer */
.demo-1-footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .demo-1-grid-container  {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }
}

/* END DEMO 1 */

/* SIDEBAR DEMO */
/* Style the side navigation */
.sidebar-demo-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.sidebar-demo-sidenav {
  background-color: #111;
}


/* Side navigation links */
.sidebar-demo-sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidebar-demo-sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.sidebar-demo-content {
  padding-left: 20px;
  overflow-y: scroll;
}
/* END SIDEBAR DEMO */


/* STANDARD SITE DEMO */
.standard-site-header {
  grid-area: header;
  background-color: red;
}

.standard-site-sidebar {
  grid-area: sidebar;
  background-color: magenta;
}

.standard-site-main {
  grid-area: main;
  background-color: aqua;
}

.standard-site-footer {
  grid-area: footer;
  background-color: goldenrod;
}

.standard-site-demo-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  min-height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr min-content
}
/* END STANDARD SITE DEMO */

/* HEADER MAIN FOOTER */
.header-main-footer-demo-container {
  background-color: red;
  padding-top: 50px;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.header-main-footer-header {
  grid-area: header;
  background-color: yellow;
}

.header-main-footer-header-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.header-main-footer-logo {
  width: 185px;
}

.header-main-footer-main {
  grid-area: main;
  background-color: pink;
}

.header-main-footer-footer {
  grid-area: footer;
  background-color: aqua;
}

/* END HEADER MAIN FOOTER */

/* BABY PANDA */
.baby-panda-demo-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
  grid-template-rows: min-content 1fr;
}

.baby-panda-header {
  grid-area: header;
  background-color: pink;
}

.baby-panda-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: cornflowerblue;
}

.baby-panda-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr 2fr;
  /* gap: 1.25rem; needed to remove because of visible bg color */
  flex-grow: 1;
  height: 100%;
  background-color: chartreuse;
}

.baby-panda-inner-column-header {
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
}

.baby-panda-inner-column {
  overflow: hidden;
  height: 100%;
}

.baby-panda-inner-column-content {
  overflow: scroll;
  height: 100%;
}

/* END BABY PANDA */

/* LINKS */
.link {
  color: blue;
  border-radius: 6px;
}

.link:hover {
  color: darkblue;
}

.link:focus {
  color: blue;
  box-shadow: 0 0 0 2px blue;
}

.link-secondary {
  color: #333;
}

.link-secondary:hover {
  color: #000000;
}

.link-secondary:focus,
.link-secondary:focus-visible {
  color: #333;
  box-shadow: 0 0 0 2px black;
}



/* END LINKS */

/* BUTTONS */
.btn {
  background-color: magenta;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
}

.btn:hover {
  background-color: darkmagenta;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid magenta;
  color: magenta;
}

.btn-secondary:hover {
  background-color: transparent;
  color: darkmagenta;
  border: 2px solid darkmagenta;
}
/* END BUTTONS */

/* SINGLE-GALLERY */
.single-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.25rem;
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 1000px) {
  .single-gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* END SINGLE-GALLERY */

/* SINGLE-GALLERY */
.double-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.25rem;
  list-style-type: none;
  padding-left: 0;
}

.double-gallery-grid a {
  display: flex;
  filter: grayscale(.5);
}

.double-gallery-grid a:hover {
  filter: grayscale(1);
}

@media (min-width: 1000px) {
  .double-gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* END SINGLE-GALLERY */


/* OVERLAY */
.overlay-wrapper {
  position: relative;
  max-width: 350px;
  display: flex;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(127, 17, 224, .25);
}


.overlay-content:hover {
  opacity: 1;
}

/* END OVERLAY */

.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

.logo {
  max-width: 100px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 999px) {
  .main-nav {
    display: none;
  }
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  position: absolute;
  top: 132px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-wrapper {
    display: none;
  }
}
